<div class="add-employee">
    <table>
        <caption>Create Employee</caption>
        <tr>

            <td><img src="../assets/images/user.png" alt="" class="employee-image" /></td>
            <td><input type="text" [(ngModel)]="newEmployee.first_name" placeholder="first name"></td>
            <td><input type="text" [(ngModel)]="newEmployee.last_name" placeholder="last name"></td>
            <td><input type="text" [(ngModel)]="newEmployee.email" placeholder="email"></td>
            <td class="hand" title="create">
                <button class="add" [disabled]="!newEmployee.first_name || !newEmployee.last_name || !newEmployee.email"
                    (click)="addEmployee()"><i class="fa fa-plus"></i></button>
            </td>
        </tr>
    </table>
</div>
<app-employee-list [employees]="employeeList" (removeEmployee)="removeEmployee($event)" (edit)="edit($event)">
</app-employee-list>

<footer class="row mt-7 " *ngIf="(employeeList | async) as dataset">

    <div class="text-center">showing <span id="result" class="bold">{{dataset.length}} </span> results
    </div>

</footer>

<div *ngIf="showUpdateForm" class="modal">
    <div class="modal-content">
        <span (click)="close()" class="close">&times;</span>

        <div class="employee-details text-center">
            <div class="employee-details__name">
                <img [src]="editEmployee.avatar" class="margin-action employee-image" />
                First Name: <input [(ngModel)]="editEmployee.first_name">
                Last Name : <input [(ngModel)]="editEmployee.last_name">
                Email : <input [(ngModel)]="editEmployee.email">
                <button class="margin-action"
                    [disabled]="!editEmployee.first_name || !editEmployee.last_name || !editEmployee.email"
                    (click)="updateEmployee(editEmployee)"><i class="fa fa-save"></i></button>
            </div>
        </div>
    </div>

</div>